<div class="container form-login">
  <div class="row justify-content-md-center">
    <div class="col-6">

      <!-- Card -->
      <div class="card">
        <!-- Card content -->
        <div class="card-body">
          <form>
            <p class="h4 text-center mb-4">Login</p>

            <!-- Material input email -->
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="email" id="materialFormLoginEmailEx" class="form-control">
              <label for="materialFormLoginEmailEx">Your email</label>
            </div>

            <!-- Material input password -->
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="password" id="materialFormLoginPasswordEx" class="form-control">
              <label for="materialFormLoginPasswordEx">Your password</label>
            </div>

            <div class="md-form form-check checkbox-teal remember-me">
              <input type="checkbox" class="form-check-input" id="checkbox8">
              <label class="form-check-label" for="checkbox8">Remember Me?</label>
            </div>


            <div class="text-center mt-4">
              <button class="btn btn-default" type="submit">Login</button>
            </div>
          </form>
          <!-- Material form login -->

        </div>

      </div>
      <!-- Card -->
    </div>
  </div>
</div>